{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Object Detection with YOLO</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  </head>
  <body>
      <main class="main_full">
        <div class="container">
          <div class="panel">
            <div class="button_outer">
              <div class="btn_upload">
                <input type="file" id="upload_file" name="">
                Upload Image
              </div>
              <div class="processing_bar"></div>
              <div class="success_box"></div>
            </div>
          </div>
          <div class="error_msg"></div>
          <div class="uploaded_file_view" id="uploaded_view">
            <span class="file_remove">X</span>
          </div>
        </div>
      </main>
<script>
  var btnUpload = $("#upload_file"),
		btnOuter = $(".button_outer");

	btnUpload.on("change", function(e){
		
    var ext = btnUpload.val().split('.').pop().toLowerCase();
		
    if($.inArray(ext, ['gif','png','jpg','jpeg']) == -1) {
			
      $(".error_msg").text("Not an Image...");

		} else {
			
      $(".error_msg").text("");
			
      btnOuter.addClass("file_uploading");

      var formData = new FormData();
      var uploadedFile = URL.createObjectURL(e.target.files[0]);
      $("#uploaded_view").append('<img src="'+uploadedFile+'" style="padding:30px;margin-left:50px;max-width:30%"/>');
      formData.append('img',e.target.files[0])
      
      $.ajax({
        type: "POST",
        url: '/detect/api/',
        processData: false,
        contentType: false,
        data: formData,
        dataType: 'json',
        success: function(data) {
          btnOuter.addClass("file_uploaded");
          var byteImg = data.resultImage;
          // console.log
          const byteCharacters = atob(byteImg);
          const byteNumbers = new Array(byteCharacters.length);
          for (let i = 0; i < byteCharacters.length; i++) {
              byteNumbers[i] = byteCharacters.charCodeAt(i);
          };
          const byteArray = new Uint8Array(byteNumbers);
          // byteImg = byteImg.replace(/["]+/g,'')
          var blob = new Blob([byteArray], {type: "image/jpg"});
          var resultUrl = URL.createObjectURL(blob);
          // var resultUrl = URL.createObjectURL(data.resultImage)
          
          $("#uploaded_view").append('<img src="'+resultUrl+'" />').addClass("show");
        }
      })

			// setTimeout(function(){
			// 	btnOuter.addClass("file_uploaded");
			// },3000);

			// setTimeout(function(){
			// 	$("#uploaded_view").append('<img src="'+uploadedFile+'" />').addClass("show");
			// },3500);
		}
	});
	$(".file_remove").on("click", function(e){
		$("#uploaded_view").removeClass("show");
		$("#uploaded_view").find("img").remove();
		btnOuter.removeClass("file_uploading");
		btnOuter.removeClass("file_uploaded");
	});
</script>
  </body>
</html>
